

@media screen and (max-width:900px) 
{
    .home{
        height: 100%;
        width: 100%;
      flex-direction: column; 
     }
  
    .home .home-content h1{
      margin: 0;
      font-size:2rem ;
      padding: 1rem;
    }

    .home .home-content p{
        font-size: 1rem;
        font-size: clamp(0.5rem,0.7179487179487178rem + 5.47008547008547vw,1.5rem);
        padding: 1rem;
        line-height: 1;
    }
    
.home-img img{
  position: static;
  width: 100vw;
  height: auto;
  cursor: pointer;
}
    .home .social-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  